
/*===============================
  Courses CSS
=================================*/
.courses .course-slider {
  margin-top: 30px;
}
.courses .single-course {
  margin-top: 30px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  -webkit-transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  transition:all 0.3s ease;
  margin: 5px;
}
.courses .single-course:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.30);
}
.courses .single-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.courses .course-head{
  position:relative;
  overflow:hidden;
}
.courses .course-head::before {
  opacity:0;
  visibility: hidden;
  background:#252525;
  z-index: 5;
}
.courses .single-course:hover .course-head:before{
  opacity:0.5;
  visibility:visible;
}
.courses .single-course:hover .btn{
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.courses .single-course .btn:hover{
  background:#fff;
}
.courses .single-course img{
  height:100%;
  width:100%;
}
.courses .single-course h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

.courses .single-course h4 span {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}
.courses .single-course p {
  color: #666;
}
.courses .course-meta {
  background: #fff;
    overflow: hidden;
    padding: 10px 25px;
    border-top: 1px solid #e7e7e7;
}
.courses .course-meta .meta-left {
  float: left;
}
.courses .meta-left span {
  display: inline-block;
  color: #a3a3a3;
  font-size: 16px;
  margin-right: 15px;
  font-weight: 600;
}
.courses .meta-left span:last-child{
  margin-right:0px;
}
.courses .course-meta .meta-left i{
  color:#a3a3a3;
  margin-right:10px;
}
.courses .course-meta .price {
  display: block;
  float: right;
  line-height: 30px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  padding: 0 15px;
  font-weight: 700;
}

.courses.archives .course-meta .price {
  background: #00B16A;
}

.single-content h4{
  color: #00B16A;
}