<ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
  <li role="presentation">
    <%= link_to 'Profile', profile_path %>
  </li>
  <li>
    <%= link_to 'Settings', settings_path %>
  </li>

  <li>
    <%= link_to 'Orders' %>
  </li>
</ul>