<ul class="nav nav-pills nav-stacked nav-pills-stacked-example side-nav">
  <li role="presentation">
    <%= link_to t('profile'), profile_path %>
  </li>
  <li>
    <%= link_to t('settings'), settings_path %>
  </li>

  <li>
    <%= link_to t('orders'), orders_path %>
  </li>
</ul>

<script>
  $(function() {
    $('.side-nav > li > a').each(function(){
      var pathname = window.location.pathname;
      if (pathname.includes($(this).attr('href'))) {
        $(this).parent('li').addClass('active')
      }
    })
  })
</script>