<div class="page-header">
  <h1><%= t("course_list") %></h1>
</div>
<div class="row">
  <div class="col-sm-12 col-md-10 col-md-offset-1" id="cart">
    <%= render 'cart' %>
  </div>
</div>

<script>
  $(function() {
    $("#cart").on("change", ".item-quantiy", function () {
      var quantity = $(this).val()
      var url = $(this).data('url')
      $.ajax({
        url: url,
        data: {'cart_item': {'quantity': quantity}},
        method: 'PUT'
      });
    })
  })
</script>
