<div class="page-header">
  <div class="pull-right">
    <%= link_to '新建类目', new_admin_category_path, class: 'btn btn-primary' %>
  </div>
  <h1>类目管理</h1>
</div>

<%= render 'categories', categories: @categories if @categories.present? %>

<div class="pull-right">
  <%= paginate @categories %>
</div>

