<div class="page-header">

  <div class="pull-right">
    <%= link_to 'Edit Images', admin_product_images_path(@product.id), class: 'btn btn-success'%>

    <% if @product.is_master? %>
      <%= link_to 'Manager Variants', variants_admin_product_path(@product.id), class: 'btn btn-primary' %>
    <% end %>
  </div>
  <h1>Edit Product</h1>
</div>

<%= render partial: "form", locals: {product: @product, url: @product.is_master? ? admin_product_path(@product.id) : update_variant_admin_product_path(@product.parent_id, @product.id), method: :PATCH} %>