<h1 class="page-header">商品信息模板管理</h1>

<div class="pull-right">
  <%= link_to '新建商品信息模板', new_admin_product_detail_path, class: 'btn btn-primary' %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>名称</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @product_details.each do |product_detail| %>
      <tr>
        <td>
          <%= product_detail.name %>
        </td>
        <td>
          <%= link_to '编辑', edit_admin_product_detail_path(product_detail) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
