
<div class="single-course">
  <%= link_to product_path(product.id, product.name) do %>
    <div class="course-head overlay">
      <%= image_tag(product.default_image(:thumb), class: "img-responsive") %>
    </div>
    <div class="single-content">
      <h4>
        <%= truncate(product.name, length: 50) %>
      </h4>
      <!-- <p>Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim. Lorem ipsum dolor sit amet, consecteturadipiscing elit aenean </p> -->
    </div>
    <div class="course-meta">
      <div class="meta-left">
        <!-- <span><i class="fa fa-users"></i>36 Seat</span> -->
        <!-- <span><i class="fa fa-clock-o"></i>2 Years</span> -->
      </div>
      <span class="price"><%= product.currency_price %></span>
    </div>
  <% end %>
</div>