<div class="thumbnail">
  <%= link_to product_path(product.id, product.name) do %>
    <%= image_tag(product.default_image(:thumb)) %>
  <% end %>

  <div class="caption">
    <h4>
      <%= link_to product.name, product_path(product.id, product.name) %>
    </h4>
    <h4 class="pull-right">
      <%= product.currency_price %>
    </h4>
    <p>See more snippets like this online store item at</p>
  </div>
</div>