<ul class="nav nav-sidebar">
  <li class="active"><a href="#">Overview</a></li>
  <li><a href="#">Customer</a></li>
  <li><a href="#">Orders</a></li>
</ul>


<ul class="nav nav-sidebar">
  <li>
    <%= link_to 'Products', admin_products_path %>
  </li>
  <li>
    <%= link_to 'Categories', admin_categories_path %>
  </li>
</ul>
